html, body{
    margin: 10px;
    display: flex;
    justify-content: center;
}

main{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}
.jatekTer {
    width:160px;
    display:grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}
.lampa {
      border: 1px solid gray;
      border-radius:50px;
      margin: 5px;
      text-align:center;
      font-size: 30px;
      cursor:grab;
      background-color: green;
  }
  .lampa:hover {
      background-color:bisque
  }
  .sarga{
    background-color: yellow;
  }